* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding: 70px 15px;
  background: url(./../img/background_light.jpg) top /cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  color: rgba(246, 254, 246, 0.85);
}

@media screen and (max-width: 768px) {
  body {
    font-size: 10px;
  }
}

@media screen and (max-width: 425px) {
  body {
    font-size: 8px;
  }
}

.wrapper {
  max-width: 1060px;
  background: 
    url(./../img/background.jpg) center / cover no-repeat;
  border-radius: 35px;
  padding: 20px;
  text-align: center;
  position: relative;
}

.wrapper::before, .wrapper::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 35px;
  position: absolute;
  top: 0;
  left: 0;
}

.wrapper::before {
  background-color: #e8e8e8;
  transform: rotate(-6deg);
  z-index: -1;

}

.wrapper::after {
  background-color: #dfdfde;
  transform: rotate(-3deg);
  z-index: -1;

}

h1 {
  font-size: 6.25em;
  line-height: 1;
}

h2 {
  font-size: 2em;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 1rem;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
}

.mood-card {
  flex: 0 1 calc((100% - 30px)/ 3);
  margin: 5px;
  aspect-ratio: 2 / 1;
  background-color: #000;
  border: 0.5px solid #7d7d7df3;
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: .85;
  transition: transform .4s ease-out;
}

img:hover {
  transform: scale(1.15);
}